* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./images/concert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-content: center;
}

.keys {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    margin: 0 20%;
    border: 2px solid gold;
    padding: 1% 0;
    /* box-shadow: ; */
}

.key {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    color: white;
    padding: 1% 2%;
    align-content: center;
    transition: all 0.07s;
}

.playing {
    transform: scale(1.2);
    outline:5px gold solid;
    box-shadow: 0 0 1rem gold;
}